<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="dbcconfig.properties"></properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启全局缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
<!--        <typeAlias alias="Employee" type="com.company.bean.Employee" />-->
        <package name="com.company"/>
<!--        别名不区分大小写-->
    </typeAliases>
    <plugins>
        <plugin interceptor="com.company.dao.MyPlugin">
            <property name="username" value="root"/>
            <property name="password" value="123456"/>
        </plugin>
        <plugin interceptor="com.company.dao.MySecondPlugin">
            <property name="username" value="r"/>
            <property name="password" value="1"/>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>
    <mappers>
<!--        <mapper resource="employeeMapper.xml"/>-->
<!--        <mapper class="com.company.dao.EmployeeMapperAnnotation" />-->

<!--        要将xml文件放在dao包下非注解版才能找到xml文件-->
        <package name="com.company.dao"/>
    </mappers>
</configuration>
